<br>
<br>
<div class="text-center">
  <h1>Reach Us</h1>
</div>
<div class="container">
  <div class="card pull-up">
    <div class="card-content">
      <div class="card-header">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#bus" data-toggle="tab">By Roadways</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#train" data-toggle="tab">By Train</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#air" data-toggle="tab">By Airways</a>
          </li>
        </ul>
      </div>

      <div class="card-body">
        <div class="tab-content clearfix">
          <div class="tab-pane active" id="bus">
            <div class="card">
              <div class="card-content">
                <ul>
                  <li>MEPCO is situated midway between Virudhunagar and Sivakasi by road. It is about 16 km from
                    Virudhunagar and 12 km from Sivakasi.
                  </li>
                  <li>Buses ply between Virudhunagar and Sivakasi via MEPCO College bus stop.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="train">
            <div class="card">
              <div class="card-content">
                <ul>
                  <li>Nearest Railway station is Virudhunagar.
                  </li>
                  <li>There are several trains serving to Virudhunagar daily from various cities around.
                  </li>
                  <li>
                    Train route from Chennai-Egmore station to Virudhunagar.
                  </li>
                  <li>
                    The following table gives information about various trains, taken from Southern Indian Railways
                    website.
                  </li>
                </ul>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>
                          <strong>Train name (no.) passing via&nbsp;<br>
                            Virudunagar Junction</strong>
                        </th>
                        <th>
                          <strong>Arrives</strong>
                        </th>
                        <th>
                          <strong>M</strong>
                        </th>
                        <th>
                          <strong>T</strong>
                        </th>
                        <th>
                          <strong>W</strong>
                        </th>
                        <th>
                          <strong>T</strong>
                        </th>
                        <th>
                          <strong>F</strong>
                        </th>
                        <th>
                          <strong>S</strong>
                        </th>
                        <th>
                          <strong>S</strong>
                        </th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr>
                        <td>
                          <a href="https://www.cleartrip.com/trains/12693" target="none" title="Pearl City Express"><strong>Pearl
                              City Express</strong></a><strong>&nbsp;(12693)</strong>
                        </td>
                        <td>
                          <strong>04:38</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="https://www.cleartrip.com/trains/00607" target="none" title="Ms Ten Premium"><strong>Ms
                              Ten Premium</strong></a><strong>&nbsp;(00607)</strong>
                        </td>
                        <td>
                          <strong>05:18</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="https://www.cleartrip.com/trains/12631" target="none" title="Nellai Express"><strong>Nellai
                              Express</strong></a><strong>&nbsp;(12631)</strong>
                        </td>
                        <td>
                          <strong>05:18</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="https://www.cleartrip.com/trains/16723" target="none" title="Anantapuri Express"><strong>Anantapuri
                              Express</strong></a><strong>&nbsp;(16723)</strong>
                        </td>
                        <td>
                          <strong>05:38</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="https://www.cleartrip.com/trains/12661" target="none" title="Pothigai Express"><strong>Pothigai
                              Express</strong></a><strong>&nbsp;(12661)</strong>
                        </td>
                        <td>
                          <strong>06:15</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="https://www.cleartrip.com/trains/06745" target="none" title="Tirunelveli Express"><strong>Tirunelveli
                              Express</strong></a><strong>&nbsp;(06745)</strong>
                        </td>
                        <td>
                          <strong>07:08</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="https://www.cleartrip.com/trains/12665" target="none" title="Kannyakumari Express"><strong>Kannyakumari
                              Express</strong></a><strong>&nbsp;(12665)</strong>
                        </td>
                        <td>
                          <strong>07:15</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="https://www.cleartrip.com/trains/06001" target="none" title="Madgaon Express"><strong>Madgaon
                              Express</strong></a><strong>&nbsp;(06001)</strong>
                        </td>
                        <td>
                          <strong>07:15</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="https://www.cleartrip.com/trains/12689" target="none" title="Nagercoil Express"><strong>Nagercoil
                              Express</strong></a><strong>&nbsp;(12689)</strong>
                        </td>
                        <td>
                          <strong>07:15</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="https://www.cleartrip.com/trains/06007" target="none" title="Tuticorin Express"><strong>Tuticorin
                              Express</strong></a><strong>&nbsp;(06007)</strong>
                        </td>
                        <td>
                          <strong>07:15</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="https://www.cleartrip.com/trains/06083" target="none" title="Nagercoil Express"><strong>Nagercoil
                              Express</strong></a><strong>&nbsp;(06083)</strong>
                        </td>
                        <td>
                          <strong>07:20</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="https://www.cleartrip.com/trains/16236" target="none" title="Tuticorin Express"><strong>Tuticorin
                              Express</strong></a><strong>&nbsp;(16236)</strong>
                        </td>
                        <td>
                          <strong>08:05</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="https://www.cleartrip.com/trains/16732" target="none" title="Tuticorin Express"><strong>Tuticorin
                              Express</strong></a><strong>&nbsp;(16732)</strong>
                        </td>
                        <td>
                          <strong>08:05</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="https://www.cleartrip.com/trains/11021" target="none" title="Tirunelveli Express"><strong>Tirunelveli
                              Express</strong></a><strong>&nbsp;(11021)</strong>
                        </td>
                        <td>
                          <strong>08:58</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                        <td>
                          <strong>Y</strong>
                        </td>
                        <td>
                          <strong>N</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="air">
            <div class="card">
              <div class="card-content">
                <ul>
                  <li>From Chennai International Airport, you can reach Madurai Airport which is just 60 km away from
                    the College.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="container">

          <hr />
          <div class="mapouter">
            <div class="center-block"><iframe height="500" style="width:100%;" id="gmap_canvas" src="https://maps.google.com/maps?q=Mepco%20Schlenk%20Engineering%20College&t=k&z=13&ie=UTF8&iwloc=&output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
            <style>
              .mapouter {
                text-align: right;
                height: 500px;
              }

              .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 500px;
              }
            </style>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>