<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
            <div class="content-header-left col-md-4 col-12 mb-2">
                <h3 class="content-header-title">Home</h3>
            </div>
            <div class="content-header-right col-md-8 col-12">
                <div class="breadcrumbs-top float-md-right">
                    <div class="breadcrumb-wrapper mr-1">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/user/home']" [routerLinkActive]="['active']"
                                    [routerLinkActiveOptions]="{exact:true}">Home</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="content-body">
                    <section id="content-types">
                        <div>
                            <div class="row match-height justify-content-md-center">
                                <div class="col-sm-12 col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h1 class="text-center">MEPCO SCHLENK ENGINEERING
                                                COLLEGE(Autonomous),SIVAKASI</h1>
                                            <h2 class="text-center">GyanMitra19</h2>
                                        </div>
                                    </div>
									</div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="justify-content-md-center">


            <div class="row justify-content-md-center">

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="flip float-right">
                        <div class="front" style="background-image: url('../../../../public/images/Departments/CSEW.jpg')">
                        </div>
                        <div class="back">
                            <h2>Computer Science and Information technology</h2>
                            <hr>
                            <h3>CLUBS ORGANIZED</h3>
                            <ul>
                                <li>IE(CSE) Students chapter</li>
                                <li>IE(IT) Students chapter</li>
                                <li>Microsoft Campus Club</li>
                                <li>Google Students Club</li>
                                <li>CSI Students chapter</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="flip  float-left">
                        <div class="front" style="background-image: url('public/images/Departments/MECHW.jpg')">
                        </div>
                        <div class="back">
                            <h2>Mechanical Engineering</h2>
                            <hr>
                            <h3>CLUBS ORGANIZED</h3>
                            <ul>
                                <li>IE(Mechanical) Students chapter</li>
                                <li>SAE India</li>
                                <li>Renewable Energy Club</li>
                                <li>Americal Society of Mechanical Engineers</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="flip  float-right">
                        <div class="front" style="background-image: url('public/images/Departments/electfrW.jpg')">
                        </div>
                        <div class="back">
                            <h2>Electrical and Electronics</h2>
                            <hr>
                            <h3>CLUBS ORGANIZED</h3>
                            <ul>
                                <li>IE(EEE) Students chapter</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="flip  float-left">
                        <div class="front" style="background-image: url('public/images/Departments/ELECTRONICSW.jpg')">
                        </div>
                        <div class="back">
                            <h2>Electronics and Communication</h2>
                            <hr>
                            <h3>CLUBS ORGANIZED</h3>
                            <ul>
                                <li>IE(ECE) Students chapter</li>
                                <li>Robotics Club</li>
                                <li>IEEE Students chapter</li>
                                <li>ISTE Students chapter</li>
                                <li>IETE Students chapter</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="flip float-right">
                        <div class="front" style="background-image: url('public/images/Departments/BIO-TECHW.jpg')">
                        </div>
                        <div class="back">
                            <h2>Bio technology</h2>
                            <hr>
                            <h3>CLUBS ORGANIZED</h3>
                            <ul>
                                <li>IE(BioTech) Students chapter</li>
                            </ul>
                        </div>
                    </div>
                </div>



                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="flip  ">
                        <div class="front" style="background-image: url('../../../../public/images/Departments/CIVILW.jpg')">
                        </div>
                        <div class="back">
                            <h2>Civil Engineering</h2>
                            <hr>
                            <h3>CLUBS ORGANIZED</h3>
                            <ul>
                                <li>IE(Civil) Students chapter</li>
                                <li>IACES</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="flip  float-right">
                        <div class="front" style="background-image: url('../../../../public/images/Departments/MBAW.jpg')">
                        </div>
                        <div class="back">
                            <h2>Master of Business administration</h2>
                            <hr>
                            <h3>CLUBS ORGANIZED</h3>
                            <ul>
                                <li>MBA Association</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="flip">
                        <div class="front" style="background-image: url('../../../../public/images/Departments/MCAW.jpg')">
                        </div>
                        <div class="back">
                            <h2>Master of Computer Applications</h2>
                            <hr>
                            <h3>CLUBS ORGANIZED</h3>
                            <ul>
                                <li>MCA Association</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="flip  float-left">
                        <div class="front" style="background-image: url('../../../../public/images/Departments/maths1.jpg')">
                        </div>
                        <div class="back">
                            <h2>Maths and Science</h2>
                            <hr>
                            <h3>CLUBS ORGANIZED</h3>
                            <ul>
                                <li>GTRF</li>
                                <li>Maths Club</li>
                                <li>Science Forum</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>