<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
      <div class="content-header-left col-md-4 col-12 mb-2">
        <h3 class="content-header-title">Users</h3>
      </div>
      <div class="content-header-right col-md-8 col-12">
        <div class="breadcrumbs-top float-md-right">
          <div class="breadcrumb-wrapper mr-1">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item active">Participants
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="idModal" tabindex="-1" role="dialog" aria-labelledby="idModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="idModalLabel">Issue ID Card</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <qr-scanner [debug]="false" [stopAfterScan]="true" [updateTime]="100">
            </qr-scanner>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="participantModal" tabindex="-1" role="dialog" aria-labelledby="participantModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="participantModalLabel">Participant Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" *ngIf="viewDetails">
            <div class="card" *ngIf="!edit">
              <div class="card-content">
                <div class="card-title">
                  <div class="row">
                    <div class="col-2">
                      <h2>Details</h2>
                    </div>
                    <div class="col-10">
                      <div class="fonticon-wrap icon-shadow icon-shadow-warning" (click)="editClick()"><a><i class="la la-pencil la-2x"></i></a></div>
                    </div>
                  </div>
                </div>
                <div class="card-body">

                  <div class="row">
                    <div class="col-3">
                      <b>Name: </b>
                    </div>
                    <div class="col-3">
                      {{selectedParticipant.name}}
                    </div>
                    <div class="col-3">
                      <b>Gender: </b>
                    </div>
                    <div class="col-3">
                      {{selectedParticipant.gender}}
                    </div>
                  </div>
                  <br><br><br>
                  <h6>Educational Details</h6>
                  <div class="row">
                    <div class="col-3">
                      <b>College: </b>
                    </div>
                    <div class="col-3">
                      {{selectedParticipant.college_id.name}}
                    </div>
                    <div class="col-3">
                      <b>Year: </b>
                    </div>
                    <div class="col-3">
                      {{selectedParticipant.year_id.name }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <b>Degree: </b>
                    </div>
                    <div class="col-3">
                      {{selectedParticipant.degree_id.name}}
                    </div>
                    <div class="col-3">
                      <b>Department: </b>
                    </div>
                    <div class="col-3">
                      {{selectedParticipant.department_id.name}}
                    </div>
                  </div><br><br><br>
                  <h6>Contact details:</h6>
                  <div class="row">
                    <div class="col-3">
                      <b>Email ID: </b>
                    </div>
                    <div class="col-3">
                      {{selectedParticipant.email_id}}
                    </div>
                    <div class="col-3">
                      <b>Mobile Number: </b>
                    </div>
                    <div class="col-3">
                      {{selectedParticipant.mobile_number}}
                    </div>
                  </div>
                  <br><br><br><br>
                  <div class="row">
                    <div class="col-3">
                      <b>Registration Mode: </b>
                    </div>
                    <div class="col-3">
                      {{ selectedParticipant.registration_mode }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card" *ngIf="edit">
              <div class="card-content">
                <div class="card-body">
                  <h4 class="card-title">Edit details</h4>
                </div>
                <div class="card-body">
                  <form class="form" [formGroup]="userForm" (ngSubmit)=onSubmit(userForm.value)>
                    <div class="row">
                      <div class="col-4">
                        <div class="form-group">

                          <input type="text" class="form-control" placeholder="Name" formControlName="name" [ngClass]="{'is-invalid': submitted &&f.name.errors}">
                          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Name is required
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <input type="email" class="form-control" placeholder="Email ID" formControlName="email_id"
                            [ngClass]="{'is-invalid': submitted &&f.email_id.errors}">
                          <div *ngIf="submitted && f.email_id.errors" class="invalid-feedback">
                            <div *ngIf="f.email_id.errors.required">Email_id is required
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">

                          <input type="text" class="form-control" placeholder="Mobile Number" formControlName="mobile_number"
                            [ngClass]="{'is-invalid': submitted &&f.mobile_number.errors}">
                          <div *ngIf="submitted && f.mobile_number.errors" class="invalid-feedback">
                            <div *ngIf="f.mobile_number.errors.required">Mobile Number is required
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          College
                          <select class="custom-select" formControlName="college_id">
                            <option disabled value="">College</option>
                            <option *ngFor="let college of colleges" value={{college._id}}>{{college.name}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          Year of Studying
                          <select class="custom-select" formControlName="year_id">
                            <option disabled value="">Year of Studying</option>
                            <option *ngFor="let year of years" value={{year._id}}>{{year.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          Degree
                          <select class="custom-select" formControlName="degree_id">
                            <option disabled value="">Degree</option>
                            <option *ngFor="let degree of degrees" value={{degree._id}}>{{degree.name}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          Department
                          <select class="custom-select" formControlName="department_id">
                            <option disabled value="">Department</option>
                            <option *ngFor="let department of departments" value={{department._id}}>{{department.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-action left row">
                      <div class="col">
                        <button class="btn btn-outline-instagram right" (click)="editClick()">Back</button>
                      </div>
                      <div class="col">
                        <button type="submit" class="btn btn-outline-success right" (click)="updateUser()">Update</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="card" *ngIf="registeredEvents.length != 0">
              <div class="card-content">
                <div class="card-title">
                  Event Registrations
                </div>
                <div class="card-body">
                  <h6>Events</h6>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Sl. No</th>
                          <th>Event</th>
                          <th>Department</th>
                          <th>Amount</th>
                          <th>Payment</th>
                          <th>
                            Delete
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let event of registeredEvents; let i = index;">
                          <th scope="row">{{i+1}}</th>
                          <td>{{event.event_id.title}}</td>
                          <td>{{event.event_id.department_id.name}}</td>
                          <td>{{event.event_id.amount}}</td>
                          <td *ngIf="event.status == 'Paid'">{{event.status}}</td>
                          <td *ngIf="event.status != 'Paid'">
                            <div class="fonticon-wrap icon-shadow icon-shadow-success" (click)="confirmPayment(event._id)">
                              <a> <i class="la la-check la-2x"></i></a>
                            </div>
                          </td>
                          <td *ngIf="event.status != 'Paid'">
                            <div class="fonticon-wrap icon-shadow icon-shadow-danger" (click)="deleteEventRegistration(event._id)">
                              <a> <i class="la la-trash la-2x"></i></a>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>


            <div class="card" *ngIf="registeredEvents.length == 0">
              <div class="card-content">
                <div class="card-title">
                  Event Registrations
                </div>
                <div class="card-body">
                  <h6>Events</h6>
                  <div class="row">
                    <div class="col-9">
                      <select class="custom-select" placeholder="Events" [(ngModel)]="selectedEventId" id="slctEvnt">
                        <option value="" selected disabled>All</option>
                        <option *ngFor="let event of events" value={{event._id}}>{{event.title}}</option>
                      </select>
                    </div>

                    <div class="col-3">
                      <button class="btn btn-blue-grey float right" (click)="registerEvent()">Add Event</button>
                    </div>
                    <!-- <button (click)="toggle()" type="button" class="btn btn-lg btn-toggle" data-toggle="button"
                        aria-pressed="false" autocomplete="off">
                        <div class="handle"></div>
                      </button> -->
                    <!-- <input type="checkbox" id="eventValue" name="evntValue" [(ngModel)]="value"
                        (click)="toggle()"> -->
                  </div>
                </div>
              </div>
            </div>


            <div class="card" *ngIf="registeredWorkshops.length != 0">
              <div class="card-content">
                <div class="card-title">
                  Workshop Registrations
                </div>
                <div class="card-body">
                  <h6>Workshops</h6>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Sl. No</th>
                          <th>Workshop</th>
                          <th>Department</th>
                          <th>Amount</th>
                          <th>Payment</th>
                          <th>
                            Delete
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let event of registeredWorkshops; let i = index;">
                          <th scope="row">{{i+1}}</th>
                          <td>{{event.event_id.title}}</td>
                          <td>{{event.event_id.department_id.name}}</td>
                          <td>{{event.event_id.amount}}</td>
                          <td *ngIf="event.status == 'Paid'">{{event.status}}</td>
                          <td *ngIf="event.status != 'Paid'">
                            <div class="fonticon-wrap icon-shadow icon-shadow-success" (click)="confirmPayment(event._id)">
                              <a> <i class="la la-check la-2x"></i></a>
                            </div>
                          </td>
                          <td *ngIf="event.status != 'Paid'">
                            <div class="fonticon-wrap icon-shadow icon-shadow-danger" (click)="deleteEventRegistration(event._id)">
                              <a> <i class="la la-trash la-2x"></i></a>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="card" *ngIf="registeredWorkshops.length == 0">
              <div class="card-content">
                <div class="card-title">
                  Workshop Registrations
                </div>
                <div class="card-body">
                  <h6>Workshop</h6>
                  <div class="row">
                    <div class="col-9">
                      <select class="custom-select" placeholder="Workshops" [(ngModel)]="selectedWorkshopId" id="slctEvnt">
                        <option value="" selected disabled>All</option>
                        <option *ngFor="let workshop of workshops" value={{workshop._id}}>{{workshop.title}}</option>
                      </select>
                    </div>
                    <div class="col-3">
                      <button class="btn btn-blue-grey float right" (click)="registerWorkshop()">Add Workshop</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="card" *ngIf="invoiceStatus">
              <div class="card-content">
                <div class="card-title">
                  Invoice
                </div>
                <div class="card-body">
                  <h6>Total Amount to be Paid : {{ selectedParticipantAmount }}</h6>
                  <br><br>
                  <div class="row">
                    <button type="button" class="btn btn-success" (click)="confirmPayment()">Confirm
                      Payment</button>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- 
            <div class="card" *ngIf="!selectedParticipant.cart_paid">
              <div class="card-content">
                <div class="card-title">
                  Invoice
                </div>
                <div class="card-body">
                  <h6>Total Amount : {{ selectedParticipantAmount }}</h6>
                  <br><br>
                  <div class="row">
                    <button *ngIf="!selectedParticipant.cart_paid" type="button" class="btn btn-success" (click)="confirmPayment()">Confirm
                      Payment</button>
                  </div>
                </div>
              </div>
            </div> -->

            <!-- <div class="card" *ngIf="registeredWorkshops.length != 0 && registeredEvents.length != 0">
              <div class="card-content" *ngIf="selectedParticipant.cart_paid">
                <div class="card-title">
                  Invoice
                </div>
                <div class="card-body">
                  <h6>Amount : {{ selectedParticipantAmount }}</h6>
                  <br><br>
                  <div class="row">
                    <button *ngIf="selectedParticipant.cart_paid" type="button" class="btn btn-dark">Payment Made</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="card" *ngIf="registeredWorkshops.length != 0">
              <div class="card-content" *ngIf="selectedParticipant.cart_paid">
                <div class="card-title">
                  Invoice
                </div>
                <div class="card-body">
                  <h6>Amount : {{ selectedParticipantAmount }}</h6>
                  <br><br>
                  <div class="row">
                    <button *ngIf="selectedParticipant.cart_paid" type="button" class="btn btn-dark">Payment Made</button>
                  </div>
                </div>
              </div>
            </div>-->

            <!-- <div class="card" *ngIf="selectedParticipant.cart_paid">
              <div class="card-content">
                <div class="card-title">
                  Invoice
                </div>
                <div class="card-body">
                  <h6>Amount : {{ selectedParticipantAmount }}</h6>
                  <br><br>
                  <div class="row">
                    <button *ngIf="selectedParticipant.cart_paid" type="button" class="btn btn-dark">Payment Made</button>
                  </div>
                </div>
              </div>
            </div> -->

          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-danger" (click)="unfreezeEvents()">Unfreeze Events</button> -->
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Participants - Total Count : {{participants.length}}</h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
              <div class="heading-elements">
                <ul class="list-inline mb-0">
                  <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                  <li><a data-action="reload" (click)="reload()"><i class="ft-rotate-cw"></i></a></li>
                  <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-content collapse show">
              <div class="card-body">
                <div class="container">
                  <div class="row">
                    <div class="col-11">
                      <input [(ngModel)]="searchText" placeholder="Search Participants" class="form-control">
                    </div>
                    <div class="col-1">
                      <span class="fonticon-wrap success">
                        <a (click)="loadFull()">
                          <i class="la la-search la-2x"></i>
                        </a>
                      </span>
                    </div>
                    <!-- <div class="col-4 ">
                      <div class="right">
                        <span class="btn btn-info" (click)="previousPage()"> &lt; </span> &nbsp; Page {{currentPage}}
                        &nbsp;
                        <span class="btn btn-info" (click)="nextPage()"> &gt; </span>
                      </div>
                    </div> -->
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-3">
                      College
                    </div>
                    <div class="col-3">
                      Gender
                    </div>
                    <div class="col-3">
                      Payment
                    </div>
                    <!-- <div class="col-3">
                      Activated
                    </div> -->
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <select class="custom-select" placeholder="College" [(ngModel)]="selectedCollegeId" id="slctCollege">
                        <option value="" selected>All</option>
                        <option *ngFor="let college of colleges" value={{college._id}}>{{college.name}}</option>
                      </select>
                    </div>
                    <div class="col-3">
                      <select class="custom-select" [(ngModel)]="selectedGender" id="slctGender">
                        <option value="" selected>ALL</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                    </div>
                    <div class="col-2">
                      <select class="custom-select" [(ngModel)]="paidStatus" id="slctPaid">
                        <option value="" selected="true">ALL</option>
                        <option value="true">Paid</option>
                        <option value="false">Not paid</option>
                      </select>
                    </div>
                    <div class="col-2">
                      <input type="button" class="btn btn-success" (click)="filter()" value="Filter" />
                    </div>
                    <div class="col-2">
                      <div class="btn-group">
                        <button class="btn btn-outline-blue" (click)="loadDayCount()">Extract Count</button>
                      </div>
                    </div>
                    <!-- <div class="col-3">
                      <select class="custom-select" [(ngModel)]="activated" id="slctActivated">
                        <option value="" selected="true">ALL</option>
                        <option value="true">Activated</option>
                        <option value="false">Not Activated</option>
                      </select>
                    </div> -->
                  </div>
                  <br />
                  <div class="row">
                    <div class="col">
                      <div class="btn-group">
                        <input type="button" class="btn btn-secondary" (click)="exportAsXLSX()" value="Generate Excel" />
                        <input type="button" class="btn btn-secondary" (click)="exportAsXLSXforWorkshops()" value="Workshop Registrations" />
                        <input type="button" class="btn btn-secondary" (click)="exportAsXLSXforEvents()" value="Event Registrations" />
                      </div>
                      &nbsp;
                      <div class="btn-group">
                        <input type="button" class="btn btn-outline-cyan" (click)="exportAsXLSXwithEventCount()" value="Event Count" />
                        <input type="button" class="btn btn-outline-cyan" (click)="exportAsXLSXwithWorkshopCount()"
                          value="Workshop Count" />
                      </div>
                    </div>
                    <br />
                    <br />
                  </div>
                  <br />
                  <div class="row">
                    <div class="col">
                      <div class="btn-group">
                        <input type="button" class="btn btn-outline-purple" (click)="exportAsXLSXforWorkshopsAttendance()"
                          value="Workshop Attendance Sheet" />
                        <input type="button" class="btn btn-outline-purple" (click)="exportAsXLSXforEventsAttendance()"
                          value="Event Attendance" />
                        <input type="button" class="btn btn-outline-purple" (click)="exportCollegeWiseWorkshopCount()"
                          value="College-wise Workshop Count" />
                        <input type="button" class="btn btn-outline-purple" (click)="exportCollegeWiseEventCount()"
                          value="College-wise Event Count" />
                      </div>
                    </div>
                    <br />
                  </div>
                  <br />
                </div>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Sl. No</th>
                        <th>Name</th>
                        <th>College</th>
                        <th>Email</th>
                        <th>Mobile Number</th>
                        <th>Issue ID Card</th>
                        <th>Info</th>
                        <th *ngIf="role.role_id.name == 'Admin'">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let participant of participants | searchfilter : searchText ; let i = index;">
                        <th scope="row">{{i+1}}</th>
                        <td>{{participant.name}}</td>
                        <td>{{participant.college_id.name}}</td>
                        <td>{{participant.email_id}}</td>
                        <td>{{participant.mobile_number}}</td>
                        <td>
                          <div class="fonticon-wrap icon-shadow icon-shadow-info" data-toggle="modal" data-target="#idModal"
                            (click)="scanQR(participant._id)">
                            <a> <i class="fa fa-id-card fa-2x"></i></a>
                          </div>
                        </td>
                        <td>
                          <div class="fonticon-wrap icon-shadow icon-shadow-info" data-toggle="modal" data-target="#participantModal"
                            (click)="moreInfo(participant._id)">
                            <a> <i class="la la-info-circle la-2x"></i></a>
                          </div>
                        </td>
                        <td *ngIf="role.role_id.name == 'Admin'">
                          <div class="fonticon-wrap icon-shadow icon-shadow-danger" (click)="deleteParticipant(participant._id)">
                            <a> <i class="la la-trash la-2x"></i></a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>