<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
      <div class="content-header-left col-4">
        <h3 class="content-header-title">PaymentFailure</h3>
      </div>
      <div class="content-header-right col-4">
        <div class="breadcrumbs-top float-md-right">
          <div class="breadcrumb-wrapper mr-1">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item active">Sorry
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div classs="content-body">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center">Transcation Failure</h1>
        </div>
      </div>
    </div>