<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
      <span class="content-header-left h3 col-md-3 col-3 mb-4">
        <span class="content-header-title">Events
        </span>
      </span>
      <span class="content-header-left col-md-3 col-3 mb-3">
        <select [(ngModel)]="searchText" (change)="filter()" id="searchText" class="custom-select float-right">
          <option value="All">All</option>
          <option *ngFor="let dept of departments" value="{{dept.name}}">
            {{dept.name}}
          </option>
        </select>
      </span>
      <span class="content-header-right col-md-3 col-3">
        <div class="breadcrumbs-top float-md-right">
          <div class="breadcrumb-wrapper mr-1">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/user/home']" [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{exact:true}">Home</a>
              </li>
              <li class="breadcrumb-item active">Events
              </li>
            </ol>
          </div>
        </div>
      </span>
      <span class="content-header-right col-md-3 col-3">
        <div class="row float-right white">
          <span *ngIf="this.currentPage != 1">
            <span class="btn btn-sm btn-info" (click)="previousPage()"> &lt; </span>
          </span>
          &nbsp; Page {{currentPage}} &nbsp;
          <span class="btn btn-sm btn-info" (click)="nextPage()"> &gt; </span>
        </div>
      </span>

    </div>
    <div class="content-body">
      <section id="content-types">
        <div class="row match-height">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" *ngFor="let event of events">
            <div class="card pull-up">
              <div class="card-body">
                <h3 class="card-title">{{event.title}} <span class="card-title activator grey-text text-darken-4 float-right"><i
                      class="fas fa-ellipsis-v right"></i></span></h3>
                <h6 class="card-subtitle text-muted">Department of {{event.department_id.name}}</h6>
              </div>
              <img class="activator card-image" src="http://www.gyanmitra19.mepcoeng.ac.in/assests/images/events/{{event.image_name}}">
              <div class="card-body">
                Contact <p class="card-text">
                  <a href="mailto:{{event.contact_email}}">{{event.contact_email}}</a>
                </p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Description<i class="fas fa-times float-right"></i></span>
                <ul>
                  <li *ngFor="let desc of (event.description | rulesTransform)">{{ desc }}</li>
                </ul>
                <hr/>
                <span class="card-title grey-text text-darken-4">Rules</span>
               <ul>
                  <li *ngFor="let rule of (event.rules | rulesTransform)">{{ rule }}</li>
                </ul>
              </div>
              <div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
                <span class="float-left"> {{event.event_date | date }}</span>
                <span class="float-right">
                  <div *ngIf="registrationEnabled">
                      <ng-container *ngIf="user; else notLoggedIn">
                          <ng-container *ngIf="user.cart_confirmed; else cartNotConfirmed">
                            <button type="button" class="btn btn-outline-danger" style="width:100%">
                              Cart already Confirmed
                            </button>
                          </ng-container>
                          <ng-template #cartNotConfirmed>
                            <div *ngIf="event.min_members == event.max_members == 1 && !registeredEvents.includes(event._id)">
                              <button type="button" class="btn btn-outline-primary" (click)="selectEvent(event._id)" style="width:100%">
                                Register Now <i class="la la-angle-right"></i>
                              </button>
                            </div>
                            <div *ngIf="event.min_members != event.max_members && !registeredEvents.includes(event._id)">
                              <button type="button" [routerLink]="['/user/teamRegister',event._id]" [routerLinkActive]="['active']"
                                [routerLinkActiveOptions]="{exact:true}" class="btn btn-outline-primary" style="width:100%">
                                Register Team <i class="la la-angle-right"></i>
                              </button>
                            </div>
                            <div *ngIf="registeredEvents.includes(event._id)">
                              <button type="button" *ngIf="registeredEvents.includes(event._id)d" class="btn btn-sm round btn-bg-gradient-x-purple-red"
                                style="width:100%">
                                Already Registered
                              </button>
                            </div>
                          </ng-template>
                        </ng-container>
                        <ng-template #notLoggedIn>
                          <a class="btn btn-outline-primary" style="width:100%" [routerLink]="['/user/login']"
                            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Login to Register</a>
                        </ng-template>
                  </div>
                  <div *ngIf="!registrationEnabled">
                      <button type="button" class="btn btn-outline-danger" style="width:100%">
                          Registrations are Closed
                        </button>
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>
		<span class="content-header-right col-md-3 col-3">
        <div class="row float-right black">
          <span *ngIf="this.currentPage != 1">
            <span class="btn btn-sm btn-info" (click)="previousPage()"> &lt; </span>
          </span>
          &nbsp; Page {{currentPage}} &nbsp;
          <span class="btn btn-sm btn-info" (click)="nextPage()"> &gt; </span>
        </div>
      </span>
      </section>
    </div>
  </div>
</div>
