<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
      <div class="content-header-left col-md-4 col-12 mb-2">
        <h3 class="content-header-title">Manage Problem</h3>
      </div>
      <div class="content-header-right col-md-8 col-12">
        <div class="breadcrumbs-top float-md-right">
          <div class="breadcrumb-wrapper mr-1">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item active">View Problems
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <section id="content-types">
        <div class="row match-height justify-content-md-center">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Problems</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="card-content collapse show">
                <div class="card-body">
                  <h2>View your problems here</h2>
                  <hr />
                  <br />
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Sl. No</th>
                          <th>Problem Name</th>
                          <th *ngIf="role.role_id.name == 'Admin'">Resolve</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let prob of probs; let i = index;" [ngClass]="{'success': prob.resolved}">
                          <th scope="row">{{i+1}}</th>
                          <td>{{prob.name}}</td>
                          <td>
                            <div *ngIf="role.role_id.name == 'Admin' && !prob.resolved" class="fonticon-wrap icon-shadow icon-shadow-success" (click)="resolveProblem(prob._id)">
                              <a> <i class="la la-check la-2x"></i></a>
                            </div>
                            <div *ngIf="prob.resolved">
                              Resolved
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>