<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="content-header row">
      <div class="content-header-left col-md-4 col-12 mb-2">
        <h3 class="content-header-title">Manage Participants of {{ event[0].title }}</h3>
      </div>
      <div class="content-header-right col-md-8 col-12">
        <div class="breadcrumbs-top float-md-right">
          <div class="breadcrumb-wrapper mr-1">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item active">Participants
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">

      <section id="content-types">
        <div class="row match-height justify-content-md-center">
          <div class="col-xl-6 col-md-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <h4 class="card-title">Participants</h4>
                  <h6 class="card-subtitle text-muted">Add Participants</h6>
                </div>
                <div class="card-body">
                  <form class="form" [formGroup]="participantForm" (ngSubmit)=onSubmit(participantForm)>
                    <input type="hidden" formControlName="_id">
                    <div class="form-group">
                      <select class="custom-select" formControlName="selectedUserId">
                        <option selected value="" disabled>Participant</option>
                        <option *ngFor="let user of users" value="{{ user._id }}">{{ user.email_id }}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-12">
                          Participant Status
                          <select class="custom-select" formControlName="participation">
                            <option *ngFor="let participantStatus of participantStatuss" value="{{ participantStatus.name }}">{{
                              participantStatus.name }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-action left row">
                      <div class="col">
                        <span (click)="createForm()" class="btn btn-outline-danger left">Reset</span>
                      </div>
                      <div class="col">
                        <button type="submit" class="btn btn-outline-success right">{{this.Button}}</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="modal fade" id="idModal" tabindex="-1" role="dialog" aria-labelledby="idModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="idModalLabel">Scan ID Card</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <qr-scanner [debug]="false" [stopAfterScan]="true" [updateTime]="250">
              </qr-scanner>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="certModal" tabindex="-1" role="dialog" aria-labelledby="certModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="certModalLabel">Certificate Writing</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="table-responsive">
                <table class="table table-hover table-dark">
                  <thead>
                    <td>Sl. No</td>
                    <td>Name</td>
                    <td>College</td>
                    <td>Issued</td>
                  </thead>
                  <tbody>
                    <tr *ngFor="let certificate of certificates; let i = index;   ">
                      <th scope="row">{{i+1}}</th>
                      <td>{{certificate.user_id.name}}</td>
                      <td>{{certificate.user_id.college_id.name}}</td>
                      <td>
                        <ng-container *ngIf="certificate.issued; else certNotIssued">
                          Yes
                        </ng-container>
                        <ng-template #elseTemplate>
                          No
                        </ng-template>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal fade" id="teamModal" tabindex="-1" role="dialog" aria-labelledby="teamModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="teamModalLabel">Team Register</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-event-participants-team></app-event-participants-team>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div> -->

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Participants - Total Participants : {{ participants.length }}</h4>
              <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
              <div class="heading-elements">
                <ul class="list-inline mb-0">
                  <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                  <li><a data-action="reload" (click)="reload()"><i class="ft-rotate-cw"></i></a></li>
                  <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-content collapse show">
              <div class="card-body">
                <div class="row">
                  Search
                </div>
                <div class="row">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <input [(ngModel)]="searchText" placeholder="Search participants" class="form-control">
                    </div>
                    <div class="col-sm-12 col-md-6 btn-group-justified btn-group">
                      <button (click)="exportAsXLSX()" class="btn btn-success">Generate Excel</button>
                      <button data-toggle="modal" data-target="#idModal" (click)="scanID()" class="btn btn-soundcloud">Scan
                        ID Card</button>
                    </div>
                    <br />
                    <hr />
                    <br />
                    <div class="container">
                      <div class="row">
                        <div class="col-6">
                          <select class="custom-select" [(ngModel)]="paidStatus" id="slctPaid">
                            <option value="" selected="true">Payment Status</option>
                            <option value="true">Paid</option>
                            <option value="false">Not paid</option>
                          </select>
                        </div>
                        <div class="col-3">
                          <button class="btn btn-primary" (click)="filter()">filter</button>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="container">
                        <div class="col-12">
                          <div class="btn-group">
                            <button data-toggle="modal" data-target="#idModal" (click)="scanIDforCertificate()" class="btn btn-secondary">Issue
                              Certificate</button>
                            <button data-toggle="modal" data-target="#certModal" (click)="loadCertificates()" class="btn btn-cyan">
                              Certificate Details</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- <div class="col-sm-12 col-md-6">
                    <button data-toggle="modal" data-target="#teamModal" class="btn btn-outline-bitbucket">Team
                      Register</button>
                  </div> -->
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Sl. No</th>
                            <th>Participant Name</th>
                            <th>Email</th>
                            <th>Phone No.</th>
                            <th>College</th>
                            <th>Payment</th>
                            <th>Attendance</th>
                            <th>Update Attendance</th>
                            <th>Delete</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let participant of participants | searchFilterEvent : searchText ; let i = index;   ">
                            <th scope="row">{{i+1}}</th>
                            <td>{{participant.user_id.name}}</td>
                            <td>{{participant.user_id.email_id}}</td>
                            <td>{{participant.user_id.mobile_number}}</td>
                            <td>{{participant.user_id.college_id.name}}</td>
                            <!-- <td *ngIf="participant.user_id.cart_paid == true">Paid</td>
                            <td *ngIf="participant.user_id.cart_paid == false">Not Paid</td> -->
                            <td>{{participant.status}}</td>
                            <td>
                              <div class="row">
                                <div class="col-12">
                                  <select class="custom-select" [(ngModel)]="currentAttendance">
                                    <option selected value="" disabled>Attendance</option>
                                    <option *ngFor="let participantStatus of participantStatuss" value="{{ participantStatus.name }}">{{
                                      participantStatus.name }}</option>
                                  </select>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="fonticon-wrap icon-shadow icon-shadow-warning">
                                <a (click)="updateAttendance(participant._id)"> <i class="la la-upload la-2x"></i></a>
                              </div>
                            </td>
                            <td>
                              <div class="fonticon-wrap icon-shadow icon-shadow-danger" (click)="deleteParticipant(participant._id)">
                                <a> <i class="la la-trash la-2x"></i></a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>