<div class="app-content content">
  <div class="content-wrapper">
    <br>
    <br>
    <div class="text-center">
      <h1>Schedule</h1>
    </div>
    <br>
    <hr>
    <br>
    <div class="container">
      <div class="card pull-up">
        <div class="card-content">
          <div class="card-header">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#bus" data-toggle="tab">Events Schedule</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#train" data-toggle="tab">Workshop Schedule</a>
              </li>
            </ul>
          </div>

          <div class="card-body">
            <div class="tab-content clearfix">
              <div class="tab-pane active" id="bus">
                <div class="card">
                  <div class="card-content">
                    <!-- <app-event-schedule></app-event-schedule> -->
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="train">
                <div class="card">
                  <div class="card-content">
                    <h1>Sorry!</h1>
                    <h2>Participate in Events</h2>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>