<div class="app-content content">
  <div class="content-wrapper">
    <div class="center">
      <h1 class="text-center">Contact Us</h1>
    </div>
    <hr />
    <br />
    <div class="wrapper">
      <div class="card"><img src="http://www.mepcoeng.ac.in/images/itstaff/maruthu.jpg" />
        <div class="info">
          <h1 class="white">Mr. J. Maruthupandi AP(Sr. Grade)</h1>
          <p class="white">Department of IT</p>
          <p class="white">Mobile No: +91 90800 55715</p>
         
        </div>
      </div>
      <div class="card"><img src="http://www.mepcoeng.ac.in/images/ecestaff/kalyan.jpg" />
        <div class="info">
          <h1 class="white">Mr. C. Kalyanasundaran AP (Sr. Grade)</h1>
          <p class="white">Department of ECE </p>
           <p class="white">Mobile No: +91 99420 13290</p>
        </div>
      </div>
      <div class="card"><img src="https://banner2.kisspng.com/20180503/bae/kisspng-computer-icons-question-mark-symbol-download-question-mark-face-5aebc31c08b2c6.7801968915254003480356.jpg" />
        <div class="info">
          <h1 class="white">For Futher Queries</h1>
          <p>Mail us at <strong>gyanmitra19@mepcoeng.ac.in</strong></p>
         
        </div>
      </div>
    </div>
  </div>
</div>
