<!--<body *ngIf="!authService.isLoggedIn()" class="vertical-layout vertical-menu 2-columns   fixed-navbar" data-open="click"
   data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">
   <app-auth-navbar></app-auth-navbar>
   <router-outlet></router-outlet>
</body>-->

<div *ngIf="authService.isAdmin()">
  <app-admin-navbar></app-admin-navbar>
  <router-outlet></router-outlet>
</div>

<div *ngIf="!authService.isAdmin()">
  <app-user-navbar></app-user-navbar>
  <router-outlet></router-outlet>
</div>
