<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow " data-scroll-to-active="true" data-img='public/images/backgrounds/02.jpg'>
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item mr-auto">
        <a class="navbar-brand" href="index.html">
          <h3 class="brand-text">GyanMitra{{role.role_id.name}} </h3>
        </a>
      </li>
      <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
    </ul>
  </div>
  <div class="main-menu-content ps-container ps-theme-dark ps-active-y">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class="active"><a [routerLink]="['/admin/home']"><i class="ft-home"></i><span class="menu-title" data-i18n="">Home</span>
        </a>
      </li>
      <ng-container *ngIf="(role.role_id.name == 'Admin') || (role.role_id.name=='Hostel')">
        <li class="nav-item has-sub"><a><i class="fas fa-bed"></i><span class="menu-title" data-i18n="">Accomodation</span></a>
          <ul class="menu-content">
            <li class="menu-item"><a [routerLink]="['/admin/accomodation']" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"><span class="menu-title" data-i18n="">Requests</span></a></li>
          </ul>
        </li>
      </ng-container>
      <ng-container *ngIf="(role.role_id.name == 'Admin') || (role.role_id.name=='Registration')">
        <li class="nav-item has-sub"><a><i class="far fa-registered"></i><span class="menu-title" data-i18n="">Registration</span></a>
          <ul class="menu-content">
            <li class="menu-item"><a [routerLink]="['/admin/new_registration']" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"><span class="menu-title" data-i18n="">New Registration</span></a></li>
            <li class="menu-item"><a [routerLink]="['/admin/cartConfirmation']" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"><span class="menu-title" data-i18n="">Cart Payment</span></a></li>
            <li class="menu-item"><a [routerLink]="['/admin/registration']" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"><span class="menu-title" data-i18n="">All Registration</span></a></li>
            <li class="menu-item"><a [routerLink]="['/admin/payment']" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"><span class="menu-title" data-i18n="">Payment Details</span></a></li>
          </ul>
        </li>
      </ng-container>
      <ng-container *ngIf="role.role_id.name == 'Admin'">
        <li class="nav-item has-sub"><a><i class="fas fa-cog"></i><span class="menu-title" data-i18n="">EventForm</span></a>
          <ul class="menu-content">
            <li class="menu-item"><a [routerLink]="['/admin/events']" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"><span class="menu-title" data-i18n="">Events</span></a></li>
            <li class="menu-item"><a [routerLink]="['/admin/category']" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"><span class="menu-title" data-i18n="">Event Category</span></a></li>
            <li class="menu-item"><a [routerLink]="['/admin/department']" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"><span class="menu-title" data-i18n="">Department</span></a></li>
            <li class="menu-item"><a [routerLink]="['/admin/participationstatus']" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"><span class="menu-title" data-i18n="">Participation Status</span></a></li>
          </ul>
        </li>
        <li class="nav-item has-sub"><a><i class="fas fa-cog"></i><span class="menu-title" data-i18n="">RegistrationForm</span></a>
          <ul class="menu-content">
            <li class="menu-item"><a [routerLink]="['/admin/college']" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"><span class="menu-title" data-i18n="">College</span></a></li>
            <li class="menu-item"><a [routerLink]="['/admin/degree']" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"><span class="menu-title" data-i18n="">Degree</span></a></li>
            <li class="menu-item"><a [routerLink]="['/admin/course']" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"><span class="menu-title" data-i18n="">Course</span></a></li>
            <li class="menu-item"><a [routerLink]="['/admin/year']" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"><span class="menu-title" data-i18n="">Year</span></a></li>
          </ul>
        </li>
        <li class="nav-item has-sub"><a> <i class="fas fa-users-cog"></i><span class="menu-title" data-i18n="">Make
              Users</span></a>
          <ul class="menu-content">
            <li class="menu-item"><a [routerLink]="['/admin/users']" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"><span class="menu-title" data-i18n="">Users</span></a></li>
            <li class="menu-item"><a [routerLink]="['/admin/role']" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"><span class="menu-title" data-i18n="">Roles</span></a></li>
            <li class="menu-item"><a [routerLink]="['/admin/roleUsers']" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"><span class="menu-title" data-i18n="">Set Roles for user</span></a></li>
          </ul>
        </li>
      </ng-container>
      <ng-container *ngIf="(role.role_id.name == 'Admin') || (role.role_id.name=='Organizer')">
        <li class="nav-item has-sub"><a><i class="fas fa-cube"></i><span class="menu-title" data-i18n="">Events</span></a>
          <ul class="menu-content">
            <li class="menu-item" *ngFor="let event of events"><a target="none" [routerLink]="['/admin/eventParticipants', event._id]"
                [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><span class="menu-title"
                  data-i18n="">{{ event.title }}</span></a></li>
          </ul>
        </li>
        <li class="nav-item has-sub"><a><i class="fas fa-graduation-cap"></i><span class="menu-title" data-i18n="">Workshops</span></a>
          <ul class="menu-content">
            <li class="menu-item" *ngFor="let workshop of workshops"><a target="none" [routerLink]="['/admin/eventParticipants', workshop._id ]"
                [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><span class="menu-title"
                  data-i18n="">{{ workshop.title }} </span></a></li>
          </ul>
        </li>
      </ng-container>
      <ng-container *ngIf="role.role_id.name == 'Admin'">
        <li class="nav-item has-sub"><a><i class="fas fa-cogs"></i><span class="menu-title" data-i18n="">Control Panel</span></a>
          <ul class="menu-content">
            <li class="menu-item"><a [routerLink]="['/admin/configurations']" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"><span class="menu-title" data-i18n="">Configurations</span></a></li>
          </ul>
        </li>
      </ng-container>

      <li class="nav-item has-sub"><a><i class="fas fa-cogs"></i><span class="menu-title" data-i18n="">Problems</span></a>
        <ul class="menu-content">
          <li class="nav-item"><a [routerLink]="['/admin/probs']" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact:true}"> Add Problems</a>
          </li>

          <li class="nav-item"><a [routerLink]="['/admin/viewProbs']" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact:true}">view Problems</a>
          </li>
        </ul>
      </li>

    </ul>
    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
      <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps-scrollbar-y-rail" style="top: 0px; height: 625px; right: 3px;">
      <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 473px;"></div>
    </div>

  </div>
  <div class="navigation-background" style="background-image: url('../../../../../src/public/images/backgrounds/08.jpg')"></div>
</div>