<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow " data-scroll-to-active="true" data-img="public/images/backgrounds/02.jpg">
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item mr-auto">
        <a class="navbar-brand mr-lg-5" [routerLink]="['/user/home']" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}">
          <!-- <h3 class="brand-text">GyanMitra19 </h3> -->
          <img alt="Gyanmitra logo" src="../../../../public/images/logo/GM19grdblue.png">
        </a>
      </li>
      <li class="nav-item d-md-none float-right"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
    </ul>
  </div>
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class="nav-item"><a [routerLink]="['/user/home']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><i
            class="fas fa-home"></i><span class="menu-title" data-i18n="">Home</span></a></li>
      <!--<li class="nav-item"><a [routerLink]="['/user/howtoreachus']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><i
              class="la la-location-arrow"></i><span class="menu-title" data-i18n="">Reach Us</span></a></li>-->
      <li class="nav-item"><a [routerLink]="['/user/about']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><i
            class="fas fa-info"></i><span class="menu-title" data-i18n="">About</span></a></li>
      <li class="nav-item"><a [routerLink]="['/user/gyanmitra18']" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"><i class="fas fa-history"></i><span class="menu-title" data-i18n="">GyanMitra18</span></a></li>
      <li class="nav-item"><a [routerLink]="['/user/events']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><i
            class="fas fa-flag-checkered "></i><span class="menu-title" data-i18n="">Events</span></a></li>
      <li class="nav-item"><a [routerLink]="['/user/workshops']" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"><i class="fas fa-tools"></i><span class="menu-title" data-i18n="">Workshops</span></a></li>
      <li *ngIf="authService.isLoggedIn()" class="nav-item"><a [routerLink]="['/user/cart']" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"><i class="fas fa-shopping-cart "></i><span class="menu-title"
            data-i18n="">Cart</span></a></li>
      <li *ngIf="authService.isLoggedIn()" class="nav-item"><a [routerLink]="['/user/accomodation']" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"><i class="fab fa-fort-awesome"></i><span class="menu-title"
            data-i18n="">Accomodation</span></a></li>
      <li *ngIf="!authService.isLoggedIn()" class="nav-item"><a [routerLink]="['/user/login']" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"><i class="fas fa-sign-in-alt"></i><span class="menu-title" data-i18n="">Login</span></a></li>
      <li *ngIf="!authService.isLoggedIn()" class="nav-item"><a [routerLink]="['/user/register']" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"><i class="far fa-edit"></i><span class="menu-title" data-i18n="">Register</span></a></li>
      <li class="nav-item"><a [routerLink]="['/user/contactus']" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"><i class="far fa-user"></i><span class="menu-title" data-i18n="">Contact
            Us</span></a></li>
      <li class="nav-item"><a [routerLink]="['/user/faq']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><i
            class="fa fa-question-circle"></i><span class="menu-title" data-i18n="">FAQ</span></a></li>
      <!-- <li class="nav-item"><a [routerLink]="['/user/schedule']" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-question-circle"></i><span class="menu-title"
            data-i18n="">Schedule</span></a></li> -->
    </ul>
  </div>
  <div class="navigation-background"></div>
</div>