<div class="app-content content">
  <div class="content-wrapper">
    <h2 class="text-center">Frequently Asked Questions</h2>
    <hr />
    <br />
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="faq" id="accordion">
          <div class="card">
            <div class="card-header" id="faqHeading-0">
              <div class="mb-0">
                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-0" data-aria-expanded="true"
                  data-aria-controls="faqCollapse-1">
                  <span class="badge">*</span>HOW TO REGISTER AN ACCOUNT?
                </h5>
              </div>
            </div>
            <div id="faqCollapse-0" class="collapse" aria-labelledby="faqHeading-0" data-parent="#accordion">
              <div class="card-body">

                <p>Follow the steps below:</p>
                <ol>
                  <li>Click on "Register" in Homepage or on the top right corner<br />
                    <img src="../../../../assets/reg-0.png" height="200px;" width="100%;" />
                  </li>
                  <li>Enter the registration details on the form<br />
                    <img src="../../../../assets/reg-1.png" height="200px;" width="100%;" />
                  </li>
                  <li>After entering the details, click "Register". An Activation mail will be sent
                    to the registered
                    mail<br />
                    <img src="../../../../assets/reg-2.png" height="200px;" width="100%;" /></li>
                  <li>Login into your email-account and click the link sent from Gyanmitra'19<br />
                    <img src="../../../../assets/reg-3.png" height="200px;" width="100%;" /> </li>
                  <li>Upon clicking the link, you will be redirected to the gyanmitra homepage and
                    your account is
                    registered. You can login and view/register for events and workshops<br />
                    <img src="../../../../assets/reg-4.png" height="200px;" width="100%;" /></li>
                </ol>





              </div>
            </div>

            <div class="card">
              <div class="card-header" id="faqHeading-1">
                <div class="mb-0">
                  <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true"
                    data-aria-controls="faqCollapse-1">
                    <span class="badge">*</span>How to register for a event?
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                <div class="card-body">
                  <p>Follow the steps below</p>
                  <ol>
                    <li>Login into your account and Click "Events" in the sidebar<br />
                      
                    </li>
                    <li>Select your department<br />
                      <img src="../../../../assets/1.png" height="200px;" width="100%;" />
                    </li>
                    <li>If it is <strong>Individual Event</strong> then click <strong>Register Now</strong> and your registration will be noted</li>
                      
                    <li>If it is <strong>Team Event</strong> then click <strong>Register Team</strong></li>
                     
                    <li>Enter the team name and type the name of the all the members<br />
                      <img src="../../../../assets/3.png" height="200px;" width="100%;" /></li>
                      <li>Only the team leader must add the members during the registration of the event, all the members will be registered automatically.</li>
                      <li>You will receive a notification on the top of the screen if the registration is successful</li>
                  </ol>
                </div>
              </div>
            </div>


            <div class="card">
              <div class="card-header" id="faqHeading-1">
                <div class="mb-0">
                  <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true"
                    data-aria-controls="faqCollapse-1">
                    <span class="badge">*</span>How to register for a workshop?
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                <div class="card-body">
                  <p>Follow the steps below</p>
                  <ol>
                    <li>Login into your account and Click "workshop" in the sidebar<br />
                      
                    </li>
                    <li>Select your department and click<strong>Register Now</strong><br />
                      <img src="../../../../assets/4.png" height="200px;" width="100%;" />
                    </li>
                      <li>You will receive a notification on the top of the screen if the registration is successful</li>
                  </ol>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="faqHeading-1">
                <div class="mb-0">
                  <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true"
                    data-aria-controls="faqCollapse-1">
                    <span class="badge">*</span>HOW TO MAKE PAYMENT?
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                <div class="card-body">
                  <p>Follow the steps below</p>
                  <ol>
                    <li>Login into your account and Click "Cart" in the sidebar<br />
                      
                    </li>
                    <li>Select <strong>Confirm Cart</strong>on the top right corner<br />
                      <strong>YOU CANNOT REGISTER ANY EVENTS/WORKSHOPS AFTER CONFIRMING CART</strong>
                      <img src="../../../../assets/5.png" height="200px;" width="100%;" />
                    </li>
                    <li>You will receive a notification that your cart is confirmed. Now select any mode of payment <ul><li>Online Payment</li><li>Through DD</li></ul><br />
                      <img src="../../../../assets/6.png" height="200px;" width="100%;" />
                    </li>
                    <li><strong>Payment Through DD :</strong>You will receive instructions to make payment as below<br />
                    <img src="../../../../assets/7.png" height="200px;" width="100%;" />
                  </li>
                  <li><strong>Online Payment :</strong>Click Pay and you will be taken to the online payment portal<br />
                    <img src="../../../../assets/8.png" height="200px;" width="100%;" />
                  </li>


                    </ol>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="faqHeading-1">
                <div class="mb-0">
                  <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true"
                    data-aria-controls="faqCollapse-1">
                    <span class="badge">*</span>HOW TO APPLY FOR ACCOMMODATION?
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                <div class="card-body">
                  <p>Follow the steps below</p>
                  <ol>
                    <li>Login into your account and Click "Accomodation" in the sidebar<br />
                      
                    </li>
                    <li>Select the number of days of stay<br />
                      
                    </li>
                    <li>Once the admin approves your accommodation request, you can pay through any mode of payment <ul><li>Online Payment</li><li>Through DD</li></ul><br />
                      <img src="../../../../assets/10.png" height="200px;" width="100%;" />
                    </li>


                    </ol>
                </div>
              </div>
            </div>



            <div class="card">
              <div class="card-header" id="faqHeading-1">
                <div class="mb-0">
                  <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true"
                    data-aria-controls="faqCollapse-1">
                    <span class="badge">2</span>I didn't receive confirmation mail/account
                    activation mail?
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                <div class="card-body">
                  <p>Check your inbox/spam folder of your registered email address</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="faqHeading-2">
                <div class="mb-0">
                  <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="false"
                    data-aria-controls="faqCollapse-2">
                    <span class="badge">3</span> I couldn't login.
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
                <div class="card-body">
                  <p>Check your mail address and password and try again</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="faqHeading-3">
                <div class="mb-0">
                  <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="false"
                    data-aria-controls="faqCollapse-3">
                    <span class="badge">4</span>I forgot my password, What should I do?
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
                <div class="card-body">
                  <p> Click " Forget password" and you will receive the steps to reset the password
                    to your
                    registered
                    mail</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="faqHeading-4">
                <div class="mb-0">
                  <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4" data-aria-expanded="false"
                    data-aria-controls="faqCollapse-4">
                    <span class="badge">5</span> What is the fee for event and workshops?
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
                <div class="card-body">
                  <p></p>
                  <ul>
                    <li>Rs.200 irrespective of number of events</li>
                    <li>The payment for the workshop is listed in the details of workshop</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="faqHeading-5">
                <div class="mb-0">
                  <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-5" data-aria-expanded="false"
                    data-aria-controls="faqCollapse-5">
                    <span class="badge">6</span> I Couldn't add a member to my team
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-5" class="collapse" aria-labelledby="faqHeading-5" data-parent="#accordion">
                <div class="card-body">
                  <p> It may be one of the reasons below </p>
                  <ul>
                    <li>Team max limit reached</li>
                    <li>The member you are trying to add haven't register a gyanmitra account</li>
                    <li>The event may not allow gender mixing</li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="faqHeading-6">
                <div class="mb-0">
                  <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-6" data-aria-expanded="false"
                    data-aria-controls="faqCollapse-6">
                    <span class="badge">7</span> Should every member for the team register for the
                    event seperately?
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-6" class="collapse" aria-labelledby="faqHeading-6" data-parent="#accordion">
                <div class="card-body">
                  <p>No, Only the team leader must add the members during the registration of the
                    event, all the
                    members
                    will be registered automatically.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="faqHeading-7">
                <div class="mb-0">
                  <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-7" data-aria-expanded="false"
                    data-aria-controls="faqCollapse-7">
                    <span class="badge">8</span> Can I withdraw from an event/workshop?
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-7" class="collapse" aria-labelledby="faqHeading-7" data-parent="#accordion">
                <div class="card-body">
                  <p>Yes, If you haven't paid for the event/workshop, you can withdraw from the
                    event/workshop you
                    want
                    to from the cart section.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="faqHeading-8">
                <div class="mb-0">
                  <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-8" data-aria-expanded="false"
                    data-aria-controls="faqCollapse-8">
                    <span class="badge">9</span>I have a doubt regarding the workshop/event.
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-8" class="collapse" aria-labelledby="faqHeading-8" data-parent="#accordion">
                <div class="card-body">
                  <p>No, Only the team leader must add the members during the registration of the
                    event, all the
                    members
                    will be registered automatically.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="faqHeading-9">
                <div class="mb-0">
                  <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-9" data-aria-expanded="false"
                    data-aria-controls="faqCollapse-9">
                    <span class="badge">10</span>I have a doubt regarding the workshop/event.
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-9" class="collapse" aria-labelledby="faqHeading-9" data-parent="#accordion">
                <div class="card-body">
                  <p>Please send the mail to the contact mail address in the description of the
                    workshop/event you
                    need
                    to clear the doubt</p>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="faqHeading-10">
                <div class="mb-0">
                  <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-10" data-aria-expanded="false"
                    data-aria-controls="faqCollapse-10">
                    <span class="badge">11</span>How to request for accomodation?
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-10" class="collapse" aria-labelledby="faqHeading-10" data-parent="#accordion">
                <div class="card-body">
                  <p>You can apply for accomodation in the Accomodation section.</p>
                </div>
              </div>
            </div>


            <div class="card">
              <div class="card-header" id="faqHeading-11">
                <div class="mb-0">
                  <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-11" data-aria-expanded="false"
                    data-aria-controls="faqCollapse-11">
                    <span class="badge">12</span>
                    What is the maximum number of days I can apply for?
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-11" class="collapse" aria-labelledby="faqHeading-11" data-parent="#accordion">
                <div class="card-body">
                  <p>2 days</p>
                </div>
              </div>
            </div>


            <div class="card">
              <div class="card-header" id="faqHeading-12">
                <div class="mb-0">
                  <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-12" data-aria-expanded="false"
                    data-aria-controls="faqCollapse-12">
                    <span class="badge">13</span>

                    Can I come in the early morning/late night on or before the day of event?
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-12" class="collapse" aria-labelledby="faqHeading-12" data-parent="#accordion">
                <div class="card-body">
                  <p>Yes, Our hospitality team will receive you at the gate and show to the place
                    you are
                    accomodated.</p>
                </div>
              </div>
            </div>


            <div class="card">
              <div class="card-header" id="faqHeading-13">
                <div class="mb-0">
                  <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-13" data-aria-expanded="false"
                    data-aria-controls="faqCollapse-13">
                    <span class="badge">14</span>


                    My accomodation request is still pending?
                  </h5>
                </div>
              </div>
              <div id="faqCollapse-13" class="collapse" aria-labelledby="faqHeading-13" data-parent="#accordion">
                <div class="card-body">
                  <p>Please wait patient till the admin approves your request.
                    If the request is denied, you can see the status in accommodation section</p>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="faqHeading-14">
                <div class="mb-0">
                  <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-14" data-aria-expanded="false"
                    data-aria-controls="faqCollapse-14">
                    <span class="badge">15</span>

                    Can I cancel my accommodation request?

                  </h5>
                </div>
              </div>
              <div id="faqCollapse-14" class="collapse" aria-labelledby="faqHeading-14" data-parent="#accordion">
                <div class="card-body">
                  <p>Once the payment is done towards the accomodation in the cart section, your
                    request for
                    accomomdation on arrival will not be entertained.</p>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="faqHeading-15">
                <div class="mb-0">
                  <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-15" data-aria-expanded="false"
                    data-aria-controls="faqCollapse-15">
                    <span class="badge">16</span>

                    How can I pay for the events/workshop/accomodation?

                  </h5>
                </div>
              </div>
              <div id="faqCollapse-15" class="collapse" aria-labelledby="faqHeading-15" data-parent="#accordion">
                <div class="card-body">
                  <p>You can do the payment in the cart section through online payment or by
                    sending the scanned copy
                    of
                    DD.</p>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="faqHeading-16">
                <div class="mb-0">
                  <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-16" data-aria-expanded="false"
                    data-aria-controls="faqCollapse-16">
                    <span class="badge">17</span>

                    Is there on-spot registration/payment?

                  </h5>
                </div>
              </div>
              <div id="faqCollapse-16" class="collapse" aria-labelledby="faqHeading-16" data-parent="#accordion">
                <div class="card-body">
                  <p>No, please register and pay either through online-payment or DD.</p>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="faqHeading-17">
                <div class="mb-0">
                  <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-17" data-aria-expanded="false"
                    data-aria-controls="faqCollapse-17">
                    <span class="badge">18</span>


                    My payment through DD is not yet confirmed?

                  </h5>
                </div>
              </div>
              <div id="faqCollapse-17" class="collapse" aria-labelledby="faqHeading-17" data-parent="#accordion">
                <div class="card-body">
                  <p>Please be patient till the admin validates and approves your DD.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>