<nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light">
  <div class="navbar-wrapper">
    <div class="navbar-container content">
      <div class="collapse navbar-collapse show" id="navbar-mobile">
	  
        <ul class="nav navbar-nav mr-auto float-left">
          <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs"
              href="#"><i class="ft-menu font-large-1"></i></a></li>
          <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i
                class="ft-menu"></i></a></li>
        </ul>
        <ul class="nav navbar-nav float-right" *ngIf="!authService.isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/user/register']" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact:true}">Register</a>
          </li>
        </ul>
        <ul class="nav navbar-nav float-right" *ngIf="!authService.isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/user/login']" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact:true}">Login</a>
          </li>
        </ul>
        <ul class="nav navbar-nav float-right" *ngIf="authService.isLoggedIn()">
          <li class="dropdown dropdown-user nav-item">
            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
              <span class="user-name text-bold-700 ml-1" style="margin: 4px">
                {{user.name}} &nbsp;&nbsp;
              </span>
              <span *ngIf="gender == 'Female'">
                <i class="la la-2x la-female" aria-hidden="true">
                </i>
              </span>
              <span *ngIf="gender == 'Male'">
                <i class="la la-2x la-male" aria-hidden="true">
                </i>
              </span>
              <span class="avatar-online">
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="arrow_box_right">
                <div class="dropdown-item">
                  GMID: {{user.gmID}}
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]="['/user/cart']" [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{exact:true}">
                  <i class=" ft-shopping-cart">
                  </i>Cart
                </a>
                <a class="dropdown-item" [routerLink]="['/user/accomodation']" [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{exact:true}">
                  <i class=" ft-home"></i>Accomodation</a>
                <div class="dropdown-divider" *ngIf=" authService.isLoggedIn()"></div><a class="dropdown-item" *ngIf=" authService.isLoggedIn()"
                  (click)="onLogoutClick() " href="#"><i class="ft-power"></i> Logout</a>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
</nav>
<app-user-sidebar></app-user-sidebar>