<div class="app-content content">
  <div class="content-wrapper">
    <div class="card pull-up">
      <div class="card-content">
        <div class="text-center">
          <!-- <hr> -->
          <h1 style="font-size: 109px">GYANMITRA'19</h1>
          <!-- <img src="http://localhost:4200/public/images/logo/GM19grdblue.png" width="68%" height="150px"> -->
          <hr>
          <h3>MEPCO SCHLENK ENGINEERING COLLEGE(Autonomous),SIVAKASI</h3>
          <h4>FEBRUARY 8 & 9</h4>
          <!-- <hr /> -->
        </div>
      </div>
    </div>
    <!--<div class="continer pull-up">
      <div>
        <label class="project-title">GYANMITRA'19</label>
        <label class="project-name">Meet us in</label></div>
      <div class="counter">
        <div class="days">
          <div class="value">{{days}}</div>
          <span>Days</span>
        </div>
        <div class="hours">
          <div class="value">{{hours}}</div>
          <span>Hours</span>
        </div>
        <div class="minutes">
          <div class="value">{{minutes}}</div>
          <span>Minutes</span>
        </div>
        <div class="seconds">
          <div class="value">{{seconds}}</div>
          <span>Seconds</span>
        </div>
      </div>
    </div>-->
    <app-how-to-reach-us></app-how-to-reach-us>
  </div>
</div>
